* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}

a {
  color: blue;
}

a:hover {
  color:red;
}

header .bg-dark{
  background-color: #1a1917!important;
}

header .bg-color {
  background-color: red;
}

header .navbar-brand {
  color: red;
}

header .nav-link{
  text-transform: uppercase;
  color: white!important;
  transition: all, 0.5s;
  margin-right: 50px;
}

header .nav-link:hover{
  color: red!important;
}
